footer {
  height: $footerHeight;
  background-color: $headerColor;

  section {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    p {
      display: inline-block;

      a:visited {
        color: blue;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}
