header {
  background-color: $headerColor;
  font-size: 20px;
  text-align: center;
  padding: 8px 0;

  h3 {
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 23px;
  }

  p {
    margin: 0;
  }
}
