$sidebarHidden: 55px;
$sidebarShown: 225px;

@keyframes hideSideBar {
  0% {
    width: $sidebarShown;
  }
  100% {
    width: $sidebarHidden;
  }
}

@keyframes showSideBar {
  0% {
    width: $sidebarHidden;
  }
  100% {
    width: $sidebarShown;
  }
}

@keyframes hideText {
  0%,
  70% {
    visibility: collapse;
    position: absolute;
  }
  100% {
    visibility: visible;
  }
}

@keyframes selectName {
  0%,
  100% {
    color: black;
    background: white;
  }
  25% {
    color: red;
    background: red;
  }
}

main > .container-fluid {
  padding-right: 0;
}

aside {
  //   animation: showSideBar 0.3s ease;
  width: $sidebarShown;

  .bookName {
    // animation: hideText 0.3s ease;
  }

  button {
    &:hover {
      background-color: $headerColor;
      color: black;
    }
    &:focus {
      outline: none;
    }
  }

  a {
    color: black;
    border-bottom: 1px solid $headerColor;

    &:hover {
      background-color: $headerColor;
      color: black;
    }

    &.active {
      background-color: $headerColor;
    }

    &.unactive {
      background-color: white;
    }
  }
}

.isHidden {
  aside {
    // animation: hideSideBar 0.3s ease;
    width: $sidebarHidden;

    .bookName {
      display: none;
    }

    .bookNum {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }
}

.content {
  border-left: 1px solid $headerColor;
  line-height: 1.25;
  padding: 0;

  h2 {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 4px;
    padding-left: 8px;
    background-color: $headerColor;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid $headerColor;
    margin-top: 16px;
    margin-bottom: 6px;
  }

  ol {
    padding-left: 44px;
  }

  li {
    .name {
      font-weight: bold;
      font-size: 18px;
    }

    .name:target {
      animation: selectName 1s;
    }

    padding-left: $freeSpace;
    margin: 8px 0;

    a:not(.name):hover {
      color: chocolate;
      text-decoration: none;
    }
  }
}
