$freeSpace: 15px;

/* Color Theme Swatches in Hex */
$backgroundColor: #f2f2f2;
$headerColor: #d9d9d9;

body {
  font-family: 'Times New Roman', Times, serif;
}

@import 'header';
@import 'main';
@import 'footer';
